<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
  <form>
    <div>
      <label>Username</label>
      <input type="text" name="username" max="25" required>
    </div>
    <div>
      <label>Password</label>
      <input type="password" name="password" minlength="7" required>
    </div>

    <p th:if="${param.error != null}" th:text="${param.error}" />

    <p th:if="${param.status != null}" th:text="${param.status}" />

    <p th:if="${session.loginAttempts != null}" th:text="${'Login attempts: '+ session.loginAttempts}" />

    <button type="submit">Login</button><br>

  </form>


</body>
</html>