<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Invoice</title>
</head>
<header>
    <nav>
        <a href="/budgetducklings/home.html">Logout</a>
        <a href="payment.html">New invoice</a>
        <a href="edit.html">Edit previous.</a>
    </nav>
</header>
<table>
    <thead>
      <tr><th>Title</th><th>Date</th><th>Category</th><th>Amount</th><th>Description</th></tr>
    </thead>

    <tbody action="/invoice" method="GET">
    <tr th:forEach var="receipt" items="${list}">
        <td th:text="">

        </td>
    </tr>
    </tbody>

</table>

</html>