<!DOCTYPE html>
<html lang="en">
 <head>
     <meta charset="UTF-8">
     <title>Duckling Login page</title>
 </head>
 <header>
   <nav>
     <a href="/templates/home.html">Home</a>
     <a href="templates/invoice.html">New invoice</a>
     <a href="templates/edit.html">Edit previous invoice</a>
   </nav>
 </header>
 <body>
   <meta charset="UTF-8">
   <title>New invoice</title>
   <br><label>Invoice data</label><br>
   <input type="text" name="title" max="10" required placeholder=" " value="Title"><br>
   <input type="date" name="date" required placeholder=" " value="Date"><br>
   <input type="text" name="category" max="15" required placeholder=" " value="Category"><br>
   <input type="text" name="price" max="6" required placeholder=" " value="Price"><br>
   <textarea type="text" name="description" max="255" rows="10" cols="58">
   </textarea><br>

   <button>Save Invoice</button><br>

</body>
</html>