
   <form action="/invoiceList/" method="POST">
   <br><label>Invoice data</label><br>
   <input type="text" name="title" max="10" required placeholder=" " value="Title"><br>
   <input type="date" name="date" required placeholder=" " value="Date"><br>
   <input type="text" name="category" max="15" required placeholder=" " value="Category"><br>
   <input type="text" name="price" max="6" required placeholder=" " value="Price"><br>
   <textarea type="text" name="description" max="255" rows="10" cols="58">
   </textarea><br>

   <button type="submit" >Save Invoice</button><br>
   </form>
</body>
</html>